:root {
  --color-primary: #2E3A59;
  --color-secondary: #5C6E91;
  --font-main: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-main);
}

.navbar-toggler {
  margin-right: 10px;
  margin-top: 5px;
}

.bg-hero {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: white;
}

h2, h3, .section-title {
  color: var(--color-primary);
}

h5 {
  color: var(--color-secondary)!important;
}

.h2-white {
  color: white!important;
}

.card-title {
  color: #FF8C42;
  font-weight: 500;
}

a.btn-outline-primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

a.btn-outline-primary:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: white;
}

/* Ajoute une animation d’apparition douce */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}

.bg-section-about {
  background: linear-gradient(135deg, #f5f7fa, #e9ecf3); /* très léger, lecture facile */
  color: #1C1C1C;
}

.bg-section-projects {
  background: linear-gradient(135deg, #e9ecf3, #d6dce8); /* ton neutre + bleu clair */
  color: #1C1C1C;
}

.bg-section-passions {
  background: linear-gradient(135deg, #5C6E91, #8395B8); /* tons bleus doux */
  color: white;
}

.bg-section-contact {
  background: linear-gradient(135deg, #2E3A59, #3C4A6E); /* foncé élégant */
  color: white;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

/* Style du bouton pour remonter en haut */
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  width: 55px;
  right: 20px;
  background-color: white;
  color: var(--color-primary);
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.btn-scroll-top:hover {
  background-color: #d6dce8;
  transform: translateY(-5px);
}

/* Ajouter une visibilité uniquement quand on scrolle */
#scrollTopBtn {
  display: none;
}

#scrollTopBtn.show {
  display: block;
}

.bg-musique {
  background: linear-gradient(to bottom, #FFA17F, #FFD194, #FF8C42);
  min-height: 100vh;
}

.bg-sport {
  background: linear-gradient(to right, #1c3144, #274060); /* tons sportifs sobres */
  min-height: 100vh;
}

.bg-voyage {
  background: linear-gradient(to bottom, #007991, #78ffd6); /* bleu turquoise océan */
  min-height: 100vh;
}

.carousel-item img {
  height: 700px; /* tu peux adapter selon le design */
  object-fit: cover;
  width: 100%;
}